spring:
  application:
    name: ms-messages-service
  data:
    mongodb:
      host: localhost
      port: 27017
      database: messagesdb
      username: admin
      password: password123
      authentication-database: admin


logging:
  level:
    org:
      springframework:
        data:
          mongodb:
            core:
              MongoTemplate: DEBUG
eureka:
  instance:
    prefer-ip-address: true
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8765/eureka/

server:
  port: 8585
